<div class="session-visual">
  <div class="message-main-box">
    <div class="account-box">

  <table class="table table-hover">
        <thead>
          <h2 class="session-title center">
  <%#= @regist_user.regist_name %>dさんの開催実績
</h2>
        </thead>
        <tbody class="center">
          <%# @regist_user.past_events each do |past_event| %>
            <!-- <tr>
              <td><%#= past_event.title %></td>
            </tr> -->
          <%#end %>
         

          <tr>
            <td>ああああああああああああ</td>
          </tr>
          <tr>
            <td>ああああああああああああ</td>
          </tr>
          <tr>
            <td>ああああああああああああ</td>
          </tr>

  </tbody>
</table>

<div class="column-top center">
    <%= link_to "戻る", :back, class:"square_btn" %>
  </div>

    </div>
  </div>
</div>
