<div class="session-visual3">
   <div class="message-main-box">
     <div class="months-box">
      <p>2018<br>11月<br>12月<br><br>2019<br>1月

    </div>
    <div class="account-box">
      <h2 class="session-title center">管理者　開催予定一覧</h2>
      <div class="clearfix">

      <% @past_events.each do |past_event| %>
      <div class="mypage-event-past-box">
        <p><%= past_event.past_start_time.year %>/<%= past_event.past_start_time.month %>/<%= past_event.past_start_time.day %></p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <% end %>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      </div>

    <div class="column-top center block">
      <%= link_to "戻る", :back, class:"square_btn" %>
    </div>


  </div>
  </div>
</div>


