<div class="session-visual">
  <div class="message-main-box">



  <!-- <div class='arrow_box'><%%= current_regist_user.introduction %></div> -->

  <div class="edit_account-box2-kid clearfix">



  <div class="edit_account-box2-kid clearfix">
    <h3 class="session-title center">開催履歴</h3>
    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
    <%#= @events.each do |event| %>
    <%# end %>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>


    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>
  

    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>
  

    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>

    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>



    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>

     <div class="mypage-event-box">
      <p style="padding-top:30px;">イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>



      </div>

      <div class="column-top center">
        <%= link_to "戻る", :back, class:"square_btn" %>
      </div>




    </div>
  </div>
</div>