<div class="non-visual-box">

<div class="edit-account-box1">
  <div class="test-event-image">
  </div>
  <div class='arrow_box'><%= current_regist_user.introduction %></div>
</div>

<div class="edit-account-box2">
  <h1 class=""><%= current_regist_user.regist_name %>さん</h1>
  <h3 class=""><%= link_to "スペースを予約する", new_regist_user_event_path %></h3>
  <p class="">管理者に連絡をとる</p>

  <div class="edit_account-box2-kid clearfix">
    <h4 class="center">開催確定</h4>
    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
    <%#= @events.each do |event| %>
    <%# end %>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>


    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>
  

    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>
  

    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>
  

    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>
  






  </div>
  

   <div class="edit_account-box2-kid">
    <h4 class="center">審査中</h4>
    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
    <%#= @events.each do |event| %>
    <%# end %>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>

    </div>

  <div class="edit_account-box2-kid">
    <h4 class="center">開催実績</h4>
    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
    <%#= @events.each do |event| %>
    <%# end %>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>
   
    <div class="mypage-event-box">
      <div class="mypage-event-image">
      </div>
    <%#= @events.each do |event| %>
    <%# end %>
      <p>イベントタイトル</p>
      <p>イベント詳細はこちらイベント将来はこちら</p>
    </div>

  </div>

</div>