<div class="session-visual">
  <div class="message-main-box clearfix">
　　

    <div class="account-box">

<h2 class="session-title center">○月のイベント</h2>
<!-- #月が自動計算で出るようにする -->

<div class="index-line-box1">

<table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">開催予定</th>
          </tr>
        </thead>
        <tbody>
          <%# @events.each do |event| %>
          <!-- <tr> -->
              
          <tr><th>あああああああああ</th></tr>
          <tr><th>あああああああああ</th></tr>
          <tr><th>あああああああああ</th></tr>
          <tr><th>あああああああああ</th></tr>
  </tbody>
</table>


</div>




<div class="index-line-box2">

  <%#= attachment_image_tag regist_user, :profile_image, fallback: "no_image.jpg",size: '100x40' %>
  <div class="test-event-image">
  </div>
  <div class="column-top center bottom-border">
    <p>クラリネット四十奏</p>
    <p>内容</p>
    <p>〜〜〜〜〜〜〜〜〜〜〜〜
    〜〜〜〜〜〜〜〜〜〜〜〜
    </p>
   <日時>
   <p>11/1 11:00~13:00</p>
  </div>

  <div class="test-event-image">
  </div>
  <div class="column-top center bottom-border">
    <p>クラリネット四十奏</p>
    <p>内容</p>
    <p>〜〜〜〜〜〜〜〜〜〜〜〜
    〜〜〜〜〜〜〜〜〜〜〜〜
    </p>
   <日時>
   <p>11/1 11:00~13:00</p>
  </div>


</div>
  
  </div>
</div>
</div>
