<div class="main-visual">
</div>
 <div class="main-information clearfix">
    <div class="information-box">
      <h4 class="center">新着情報</h4>
      <div class="news-box">
      <p>12/1の◯○が登録されました！</p>
      </div>
      <div class="news-box">
      <P>2018/11/1
頑張ってるのにダメ人間 オフ会の日程を変更しました！
</P>
</div>
(最新3件まで表示)

    </div>

    <div class="event-information-box">
      <h2 class="center">今月のイベント</h2>
      <div class="scroll-box">
11/2   11:00〜13:00  2F
クラリネットカルテット“ソルジャー”演奏会
11/4  12:00〜15:00  1F
 英会話サークル納会
11/8  16:00〜20:00
20代&30代 頑張ってるのにダメ人間 オフ会

      </div>

    </div>
    <div class="sns-box">
      <i class="fa fa-facebook" aria-hidden="true"></i>
　　   <a href="https://timeline.line.me/social-plugin/share?url=[ページURL]">LINEでシェアする</a>
    </div>
 </div>

 <footer>
   <div class="footer-contents ">
  <p>採用情報 HIMARAYAで働いてみませんか。</p>
  <p>取材依頼 あなたの活動を教えてください。</p>
  <p>退会ページはこちら</p>
   </div>
 </footer>

