<div class="session-visual3">
  <div class="message-main-box">



     <div class="past-months-box">
       <div class="half-year-box">
        <p class="calender">2018<br>1月<br>2月<br>3月<br>4月<br>5月<br>6月<br>7月</p>
       </div>
     </div>



    <div class="account-box">
      <h2 class="session-title center">管理者　開催履歴一覧</h2>
      <div class="clearfix">
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      <div class="mypage-event-past-box">
        <p>2018/12/1</p>
        <p>イベントタイトル</p>
        <p>葛木さん</p>
      </div>
      </div>

    <div class="column-top center block">
      <%= link_to "戻る", :back, class:"square_btn" %>
    </div>


  </div>
  </div>
</div>
