/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'font-awesome';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;
}
main {
    width: 900px;
    margin: 50px auto 0 auto;
}
.nav {
  width: 750px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav li {
  position: relative;
  list-style: none;
  display: inline-block;
}
.nav li a {
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #660000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.nav > li:hover > a {
  color: orange;
  background: #afc6e2;
}
.nav > li li:hover > a {
  color: olive;
  background: #afc6e2;
}
.nav li ul {
  top: 40px;
  left: -40px;
  position: absolute;
}
.nav li ul li {
  overflow: hidden;
  height: 0;
  z-index: 9999;
  background-color: white;
}
.nav li ul li a {
  border-top: 1px solid #eee;
  vertical-align: bottom;
}
.nav li:hover > ul > li {
  overflow: visible;
  height: 40px;
}
.nav li ul li ul {
  top: 0;
  left: 110px;
}
.nav li ul li ul:before {
  position: absolute;
  content: '';
  top: 15px;
  left: 30px;
  border: 5px solid transparent;
  border-left: 5px solid #fff;
}
.nav li ul li ul li:hover > a {
  color: pink;
  background: #afc6e2;
}
.nav li ul li ul.left {
  top: 0;
  left: -190px;
}

.nav li ul li ul li ul.left:before {
  position: absolute;
  content: '';
  top: 15px;
  left: 190px;
  border: 5px solid transparent;
  border-right: 5px solid #fff;
}
.nav li ul li ul.left li:hover > a {
  color: pink;
  background: #afc6e2;
}
.nav li ul li ul li ul.left li:hover > a {
  color: purple;
  background: #afc6e2;
}
.content {
  width: 750px;
  height: 200px;
  background: #eee;
  margin: 0;
}
#main-title {
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50px;
  left: 40px;
  font-weight: bold;
  z-index: 9000;
}

.main-information {
  width: 100%;
  background-color: rgba(242, 202, 170, 0.2);
}
.information-box{
  padding: 0 2%;
  margin-top: 50px;
  width: 20%;
  height:250px;
  float: left;
  overflow-y: scroll;
}

.news-box {
  width: 95%;
  margin: 0 auto 10px auto;
  overflow: hidden;
}
.event-information-box{
  width: 65%;
  height: 350px;
  float: left;
}
.sns-box{
  margin-top: 70px;
  padding: 0 2%;
  width: 15%;
  height:250px;
  float: left;
}

.sns-span {
  margin-bottom: 5px;
}
.scroll-box {
  margin: 0 auto;
  padding: 3%;
  width: 100%;
  height: 200px;
  background-color: rgba(218, 144, 126, 0.4);
  overflow-y: scroll;
  border-radius: 10px;
}

#footer{
  color: white;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #b53a88;
  padding-top: 50px;
}
.index-line-box1 {
  width: 45%;
  float:left;
  margin-top: 20px;

}
.index-line-box2 {
  width: 55%;
  float: right;
  margin-top: 20px;
}
.square_btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.square_btn:hover {
  text-decoration: none;
  color: #FFF;
}
.square_btn:visited {
  text-decoration: none;
  color: #FFF;
}

.green {
  background-color: #00CC66;
  border-bottom: solid 2px #669966;
}
.red {
  background-color: #CC0000;
  border-bottom: solid 2px #990000;
}
.navy {
  background-color: #23439C;
  border-bottom: solid 2px #000080;
  box-shadow: inset 0 2px 0 #538AB9, 0 2px;
}

.square_taikai_btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #FFF;
  background: #808080;
  border-bottom: solid 2px black;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}
.square_taikai_btn:hover {
  text-decoration: none;
  color: #FFF;
}
.square_taikai_btn:visited {
  text-decoration: none;
  color: #FFF;
}

.button-top {
  margin-top: 15px;
}
#space {
  margin-top: 70px;
}

.center {
  text-align: center;
}
.bottom {
  margin-bottom: 30px;
}
.session-visual {
  width: 100%;
  padding: 50px auto 50px auto;
  background-image: image-url('/images/main.jpeg');
  background-size: cover;
  background-position: left;
}

.session-visual2 {
  width: 100%;
  padding: 50px auto 50px auto;
  background-image: image-url('/images/20150209_fmPxucNk.jpg');
  background-size: cover;
  background-position: left;
}

.session-visual3 {
  width: 100%;
  padding: 50px auto 50px auto;
  background-image: image-url('/images/komorebi.jpg');
  background-size: cover;
  background-position: bottom;
}

.main-box {
  background-color: rgba(211,211,211,0.7);
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.edit-main-box {
  background-color: rgba(211,211,211,0.7);
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}
.message-main-box {
  background-color: rgba(255,255,255,0.7);
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}
.account-box {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.edit-account-box1 {
  width: 30%;
  float:left;
}
.edit-account-box2 {
  width: 70%;
  float: left;
}
.edit_account-box2-kid{
  width: 100%;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  border-color: rgb(121, 103, 126);
}
.first-message-box {
  margin-top: 50px;
}
.block{
  display: block;
}

.session-title {
  color: #4B0082;
  font-weight: bold;
}
.session-columns{
  color: #4B0082;
  font-weight: bold;
  font-size: 16px;
  -webkit-text-stroke: 0.3px black;
}

.column-top {
  margin-top: 20px;
}
.sign-up {
  font-size: 20px;
}

.left {
  margin-left: 30px;
}

.block{
  display: block;
}

.baloon {
  background-color: rgba(255,255,255,0.7);
  width: 60%;
  margin: 50px auto;
  padding: 20px 30px;
  border-radius: 30px;
}
.baloon-contents {
  width: 70%;
  margin: 0 auto;
}

.bottom-border {
  border-bottom: 1px solid;
  margin-bottom: 15px;
  border-color: rgb(121, 103, 126);
}

.non-visual-box {
  width: 100%;
  padding: 50px auto 50px auto;
  background-color: pale-pink;
}

.name-area {
  height: 200px;
}
.name-area-text {
  width: 400px;
  height: 200px;
  padding: 30px;
  float: left;
}
.mypage-event-content{
  padding: 20px auto;
}
.mypage-event-image {
  height: 100px;
  width: 140px;
  background-size: cover;
  background-position: left;
  margin: 0 auto;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  border-radius: 10px 10px 10px 10px;
}

.mypage-event-box {
  height: 180px;
  width: 20%;
  margin: 20px 0 0 3%;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.no-sign {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  color: red;
  font-size: 40px;
  font-weight: bold;
}
.mypage-event-past-box {
  margin: 20px 0 0 4%;
  height: 80px;
  width: 20%;
  margin: 20px 0 0 3%;
  float:left;
  text-align: center;
  overflow: hidden;
}
.months-box {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 100px;
}
.past-months-box {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 100px;
}
.half-year-box {
  /*width: 50px;*/
  word-break: break-all;
  height: 140px !important;
}

.calender {
  line-height: 20px;
}


.input-size {
  width: 300px;
}

.inline-block {
  display: inline-block;
}
.nav {
  width: 900px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

#first-floor {
  width: 100%;
  height: 600px;
  position: relative;
}
#second-floor {
  width: 100%;
  height: 500px;
  position: relative;
}

#desk1 {
  width: 200px;
  height: 300px;
  background-color: #8B4513;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 30px;
}

#desk2 {
  width: 120px;
  height: 400px;
  background-color: #8B4513;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 320px;
}
#desk3 {
  width: 150px;
  height: 150px;
  background-color: #8B4513;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 40px;
}
#desk4 {
  width: 150px;
  height: 150px;
  background-color: #8B4513;
  border-radius: 50%;
  position: absolute;
  top: 230px;
  right: 40px;
}
#desk5 {
  width: 150px;
  height: 150px;
  background-color: #8B4513;
  border-radius: 50%;
  position: absolute;
  top: 420px;
  right: 40px;
}

#desk6 {
  width: 300px;
  height: 200px;
  background-color: #8B4513;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 30px;
}
#desk7 {
  width: 200px;
  height: 200px;
  background-color: #8B4513;
  border-radius: 10px;
  position: absolute;
  top: 100px;
  left: 380px;
}

.desk-number {
  width: 30px;
  height: 35px;
  background-color: #D2B48C;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.event-image {
  margin:25px auto;
  height: 150px;
  width: 200px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
.test-regist-image {
  float: left;
  margin: 25px auto;
  height: 150px;
  width: 200px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}
.regist-image {
  float: left;
  margin: 25px auto 25px;
  height: 150px;
  width: 200px;
  background-image: image-url('/images/20150209_fmPxucNk.jpg');
  background-size: cover;
  background-position: center;
  box-shadow:
    inset 0 0 20px #fff,
    inset 0 0 20px #fff,
    inset 0 0 20px #fff,
    inset 0 0 20px #fff;
  border-radius: 10px 10px 10px 10px;
}
p {
  margin-bottom: 0;
}
.margin {
  margin: 0 auto;
}

.alert {
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.ok-message {
  color: #FF9900;
  font-size: 20px;
  font-weight: bold;
}
.gazou {
  width: 10%;
}
.name {
  width: 20%;
}
.address {
  width: 30%;
}
.list {
  width: 40%;
}

.bold{
  font-weight: bold;
}
.syousai {
  font-size: 16px;
}

.non-deco {
  color: black;
  text-decoration: none;
}
#modal-overlay{
  z-index: 150;
  display: none;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.75);
}

#modal-content{
  width:50%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
  display: none;
  z-index: 999;
}
.modal-p{
  margin-top:1em;
}

.modal-p:first-child{
  margin-top:0;
}

.button-link{
  color:#00f;
  text-decoration:underline;
}

.button-link:hover{
  cursor: pointer;
  color: #f00;
}

#container{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.skip1 {
  background-image: image-url('/images/Space.jpg');
}
.skip2 {
  background-image: image-url('/images/kara.jpg');
}
.skip3 {
  background-image: image-url('/images/20150209_fmPxucNk.jpg');
}
.skip4 {
  background-image: image-url('/images/second_floor.jpg');
}

.plan {
  font-size: 15px;
  margin-bottom: 5px;
}

.kashidashi-list{
  width: 400px;
  float:left;
}

.hidari {
  float: left;
}